<style>
    body {
        background: #1e2832;
    }

    .NavSeller {
        width: 70px;
        width: 100%;
        background: #00be66;
        color: #333;
    }

    .submit-btn {
        background: #00be66;
        border: none;
        padding: 10px 15px;
        margin-right: 30px;
        color: #fff;
    }
</style>

<body style="background: #b3ccaf;">
    <div class="NavSeller">
        <h5 style="color:white;padding:5px;font-family: 'Glegoo', serif;"><span style="color:#1e2832;">
                Krishibhavan </span> UserName</h5>
    </div>
    <div class="container" style="width: 500px;margin:50px auto; background: #fff;padding:25px">
        <h1 style="text-align: center;color:#1e2832;font-family: 'Glegoo', serif;margin-bottom:20px">Add News
        </h1>
        <form action="/consultant/add-news" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="exampleInputEmail1" class="form-label" style="color: #1e2832;">Title</label>
                <input type="text" name="title" class="form-control" id="exampleInputEmail1"
                    aria-describedby="emailHelp" required>
                {{!-- <div id="emailHelp" class="form-text">We'll never share your email with anyone else.</div> --}}
            </div>


            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" style="color: #1e2832;">Content </label>
                <textarea name="content" id="" cols="10" rows="5" class="form-control" required></textarea>
            </div>

            <div class="mb-3">
                <label for="exampleInputPassword1" class="form-label" style="color: #1e2832;">Upload
                    Image</label>
                <input name="image" type="file" accept="" class="form-control" id="exampleInputPassword1" required>
            </div>
            <button type="submit" class="submit-btn">Submit</button>
            <a href="/consultant/" class="text-secondary" style="text-decoration: none;">Back to home</a>
            <br><br>
        </form>
    </div>
</body>